<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098731831754-hv4o37f8als6qbd509dbscd4cb3a2cel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098731831754-hv4o37f8als6qbd509dbscd4cb3a2cel</string>
	<key>API_KEY</key>
	<string>AIzaSyA8TgGTUz6BAEeKnEJUfNAzkyBkShRUooE</string>
	<key>GCM_SENDER_ID</key>
	<string>1098731831754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-80ff8</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-80ff8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098731831754:ios:acf72b0f82f7121ab40f33</string>
</dict>
</plist>